.cron-disabled{
    color:#C00;
}

.cron-enabled{
    color:green;
}

.nowrap{
    white-space: nowrap;
}

.rizzo-code-sample code{
    display: block;
    padding:1em;
    margin:0;
    background: #FCFCFC;
    border-left:4px solid #206FAC;
}